* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('https://img.freepik.com/fotos-premium/arbol-paisaje-piscina-agua-edificio-cascada-fondo_1073582-4787.jpg?semt=ais_hybrid');  /* Cambia a la URL de tu imagen */
    background-size: cover;
    background-position: center;
    filter: blur(8px); /* Aplica el desenfoque */
    z-index: -1; /* Envía este contenedor al fondo */
}

/* Estilo del header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
}

.logo h1 {
    font-size: 24px;
}

/* Estilo de la sección de la cesta */
.cart-items {
    max-width: 600px;
    margin: 20px auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cart-items h2 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

.cart-items ul {
    list-style-type: none;
    padding: 0;
}

.cart-items ul li {
    font-size: 18px;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

/* Estilo para el botón de checkout */
#checkout-button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #ff6b00;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
}

#checkout-button:hover {
    background-color: #e65c00;
}


/* Estilo para cuando la cesta está vacía */
.empty-cart {
    text-align: center;
    font-size: 18px;
    color: #777;
    margin-top: 20px;
}
